.configure-mfa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
  min-width: 740px;
  max-width: 850px;
}

.configure-mfa-container .configure-mfa-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.configure-mfa-container .configure-mfa-header p {
  margin: 0;
  color: var(--input-text-color);
  font-weight: 400;
}

.configure-mfa-container .shield-icon {
  width: 58px;
  height: 58px;
}

#kc-totp-settings {
  list-style: none;
  padding-left: 0;
  counter-reset: list-counter;
  display: flex;
  flex-wrap: wrap;
}

#kc-totp-settings li {
  counter-increment: list-counter;
  padding-left: 30px;
  position: relative;
}

#kc-totp-settings li::before {
  content: counter(list-counter);
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--base-white);
  background-color: var(--info-500);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

#kc-totp-settings .column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 50%;
}

#kc-totp-settings p {
  margin: 0;
  color: var(--input-text-color);
  font-size: 0.875rem;
}

#kc-totp-settings p .step-title {
  font-weight: 600;
}

#kc-totp-settings .qr-code {
  width: 128px;
  height: 128px;
}

#kc-totp-settings .code {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--input-text-color);
  margin-top: var(--spacing-2);
  cursor: pointer;
  user-select: all;
}

#kc-totp-settings .copy-tooltip {
  position: relative;
  bottom: 0;
  font-size: 12px;
  color: #666;
  opacity: 0;
  transition: opacity 0.3s;
}

#kc-totp-settings .code-container:hover .copy-tooltip {
  opacity: 1;
}

#kc-totp-settings form {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-3);
  gap: var(--spacing-2);
}
