.password-recovery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
  width: 485px;
  margin: 0 auto;
  min-height: auto;
}

.password-recovery-container h1 {
  margin-bottom: var(--spacing-2);
  padding: 0 var(--spacing-6);
}

.password-recovery-container p {
  margin-bottom: var(--spacing-6);
  color: var(--input-text-color);
  padding: 0 var(--spacing-4);
}

.password-recovery-container form {
  width: 100%;
  margin-bottom: var(--spacing-4);
}

.password-recovery-container .form-group {
  width: 100%;
  margin-bottom: var(--spacing-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password-recovery-container .btn {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-6);
}

.return-to-login-link {
  font-weight: 600;
}

.return-to-login-link a {
  color: var(--link-main-color);
}
