:root {
  --noche: #0b1322;
  --surface: #142036;
  --surface2: #1b2a45;
  --linea: #26395a;
  --celeste: #6fc3ee;
  --celeste-osc: #2c5e80;
  --cesped: #3bc273;
  --cesped-osc: #0e3a24;
  --sol: #f4b63f;
  --sol-osc: #4a340a;
  --tiza: #edf4fa;
  --gris: #92a6be;
  --rojo: #f0635c;
  --radius: 14px;
}
