rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /videos-crudos/{partidoId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /moderacion/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
