.btn {
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: none;
  background-color: var(--button-main-color);
  color: var(--base-white);
}

.social-provider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.875rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid var(--button-social-provider-main-color);
  color: var(--button-main-color);
  text-decoration: none;
}

.social-provider-btn img {
  margin-right: 0.75rem;
  width: 20px;
  height: 20px;
}

input[type="submit" i]:disabled,
button[type="submit" i]:disabled {
  background-color: var(--input-disabled-button-background-color);
  border: solid 1px var(--input-disabled-button-border-color);
  color: var(--input-disabled-button-text-color);
  cursor: not-allowed;
}

/* Hover effects */
.btn-primary:hover,
.social-provider-btn:hover {
  opacity: 0.9;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.image-button img {
  width: 20px;
}

.image-button:disabled img {
  filter: brightness(0.5);
}
